# Python
__pycache__/
*.py[cod]

# Virtual environment
env/
venv/

# Node modules
whatsapp-bot/node_modules/
whatsapp-bot/auth/
# Environment
.env

# Dataset and model files
*.pkl
*.safetensors
model/intent-model

# Logs
*.log
*.tmp
